
<html lang="en">
        <% include style/mainStyle %>  
        <% include style/solve %>  
        <% include style/importChunks %>  
        <head>
            <% include style/head %>
        </head>
    
    
        <body>
            <% include rootButton %>
            <div id="fileName"><%= (fileName) ? fileName : '' %></div>
            <% if(levelCount) { %> 
                Total amount of levels: <%= levelCount %>
                <form method="post" action="/select" enctype="multipart/form-data">
                    Selected level: <br/>
                    <input type="number" name="selectedLevel" min="1" max="<%= levelCount %>" value="<%= currentlySelected %>">
                    <input type="submit" value="Select Level">
                </form>
    
                <span><%= levelCount ? 'Level: ' + currentlySelected : '' %></span>
    
                <form method="post" action="/solve" enctype="multipart/form-data">
                    <canvas id="levelPreview" width="1280" height="720"></canvas>
                    <br />
                    Solving method:
                    <select name="method" id="methodPicker" onChange="appendParams()">
                        <option value="Kacper">Kacper</option>
                        <option value="JSoko">JSoko</option>
                    </select>
                    <span id="methodSub"><select name="methodSub"><option value="ida*">IDA*</option><option value="a*">A*</option></select></span>
                    <div>
                        Timeout (in s):
                        <span id="methodTimeout"><input type="number" name="methodTimeout" min="1" max="180" value="30"></span>
                    </div>
                    <input id="submit" name="submitOne" type="submit" value="Solve this level!">
                </form>
    
                <script>
                    let level = <%- JSON.stringify(level) %>;
                    let details = false;
                    let playSokoban = false;
                    <% include scripts/drawingCanvas %>

                    const appendParams = () => {
                        let methodPicker = document.getElementById('methodPicker');
                        let methodSub = document.getElementById('methodSub');

                        if (methodPicker.value=="JSoko") {
                            methodSub.innerHTML = '<select name="methodSub"><option value="pm">Pushes moves</option><option value="mp">Moves pushes</option></select>';
                        } else if (methodPicker.value=="Kacper") {
                            methodSub.innerHTML = '<select name="methodSub"><option value="ida*">IDA*</option><option value="a*">A*</option></select>';
                        }
                    }
                    
                </script>
            <% } else { %>
                <% include preinstalled %> 
                <div id='uploader'>
                    <div id="titleHead">Alternatively, Upload an XSB file:</div>
                    <form method="post" action="/upload" enctype="multipart/form-data">
                        <input type="file" name="fileToUpload">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            <% } %>
        </body>
    </html>